backports.functools-lru-cache==1.5
certifi==2018.1.18
chardet==3.0.4
common==0.1.2
cycler==0.10.0
dicttoxml==1.7.4
finance==0.2502
idna==2.6
kiwisolver==1.0.1
matplotlib==2.1.2
numpy==1.14.2
pandas==0.22.0
pkg-resources==0.0.0
pyparsing==2.2.0
python-dateutil==2.7.1
pytz==2018.3
requests==2.18.4
scikit-learn==0.19.1
scipy==1.0.1
six==1.11.0
subprocess32==3.2.7
TA-Lib==0.4.17
ujson==1.35
urllib3==1.22
v20==3.0.18.16
